{% extends 'base.html' %} 
{% block content %}

<div class="container mt-4 main-container edit-card">
    <div class="card card-body">
        <p class="delete-text">Are you sure you want to delete "{{item}}"?</p>
        <form  action="" method="post" class="mt-3">
            {% csrf_token %}
            <a class="btn btn-outline-warning rounded-pill btn-warning-sm go-back" href="{{request.META.HTTP_REFERER}}">Go back</a>
            <input class="btn btn-outline-danger rounded-pill btn-danger-sm" type="submit"/>
        </form>
    </div>
</div>

{% endblock %}
