.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
  
.showPasswordToggle {
  cursor: pointer;
  transition: all;
}
  
.showPasswordToggle:hover {
  transform: scale(1.2);
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.nav-item.text-nowrap .topbar-username {
  margin-right: 10px;
  color: navajowhite;
}

.edit-card {
  margin: 0 auto;
  max-width: 500px;
}

a.save-button,
input.save-button {
  margin-top: 10px;
}

p.delete-text {
  margin: 0 auto;
}

a.go-back {
  margin-left: 125px;
}

.pagination-text {
  margin-top: 20px;
  margin-bottom: 15px;
  display: inline-block;
}
