{% extends 'base.html' %} {% block content %}

<div class="container mt-4 main-container edit-card">
  <div class="row">
    <div class="col mt-3 pb-3">
      Edit {{stock.name}} Stock
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'edit-stock' stock.id %}" method="post">
        {% include 'partials/_messages.html'%} 
        {% csrf_token %}
        <div class="form-group">
          <label for="">Stock ID</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="stock_id"
            value="{{stock.id}}"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="">Stock Name</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="stock_name"
            value="{{stock.name}}"
          />
        </div>

        {% include 'partials/_edit_buttons.html' %}
      </form>
    </div>
  </div>
</div>

{% endblock %}
