{% extends 'base.html' %} 
{% block content %}

<div class="container mt-4 main-container edit-card">
  <div class="card">
    <div class="card-body">
      <form action="{% url 'add-transaction' %}" method="post">
        {% include 'partials/_messages.html'%}
        {% csrf_token %}

        <div class="form-group">
          <label for="">Transaction ID</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="transaction_id"
            value="{{values.transaction_id}}"
          />
        </div>

        <div class="form-group">
          <label for="">Stock Name</label>
          <select class="form-control" name="stock_name">
            {% for stock in stocks %}
            <option name="stock" value="{{stock.name}}"
              >{{stock.name}}</option
            >
            {% endfor %}
          </select>
        </div>


        <div class="form-group">
          <label for="">Stock Price</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="stock_price"
            value="{{values.stock_price}}"
          />
        </div>

        <div class="form-group">
          <label for="">Stock Quantity</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="stock_quantity"
            value="{{values.stock_quantity}}"
          />
        </div>

        <div class="form-group">
          <label for="">Transaction Date</label>
          <input
            type="date"
            class="form-control form-control-sm"
            name="transaction_date"
            value="{{values.transaction_date |date:'Y-m-d' }}"
          />
        </div>

        {% include 'partials/_add_buttons.html' %}
      </form>
    </div>
  </div>
</div>

{% endblock %}
